spring.application.name=demo-shop-spring-boot-java

spring.datasource.url=jdbc:mysql://localhost:3306/demo_shop_spring_boot_2024
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
spring.datasource.username=root
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
server.port=8083


















































spring.datasource.password=INSERT_YOUR_PASSWORD
